# --- Visual Studio Junk ---
.vs/
Debug/
Release/
x64/
x86/
*.user
*.aps
*.idb
*.pdb
*.obj
*.tlog
*.log
*.ipch
*.slnx

# --- Project Specific Ignored Folders ---
# Ignore the build output folder inside the project
Railing/x64/
Railing/Debug/
Railing/Release/
Railing/External/

# --- Windows Junk ---
Thumbs.db
Desktop.ini